<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:component-scan base-package="cn.exrick.front" />

    <!-- 配置多媒体解析器 -->
    <!-- 定义文件上传解析器 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设定默认编码 -->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!-- 设定文件上传的最大值5MB，5*1024*1024 -->
        <property name="maxUploadSize" value="5242880"></property>
    </bean>

    <!--配置资源映射-->
    <mvc:resources mapping="/swagger/**" location="/swagger/"/>

    <!-- 引用dubbo服务 -->
    <dubbo:application name="xmall-front-web"/>
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181"/>
    <dubbo:reference interface="cn.exrick.content.service.ContentService" id="contentService" />
    <dubbo:reference interface="cn.exrick.search.service.SearchService" id="searchService" />
    <dubbo:reference interface="cn.exrick.sso.service.RegisterService" id="registerService" />
    <dubbo:reference interface="cn.exrick.sso.service.LoginService" id="loginService" />
    <dubbo:reference interface="cn.exrick.sso.service.CartService" id="cartService" />
    <dubbo:reference interface="cn.exrick.sso.service.OrderService" id="orderService" />
    <dubbo:reference interface="cn.exrick.sso.service.AddressService" id="addressService" />
    <dubbo:reference interface="cn.exrick.sso.service.MemberService" id="memberService" />
    <dubbo:reference interface="cn.exrick.manager.service.ThanksService" id="thanksService" />
</beans>
